extends layout

block content
	h1 #{name}
	p Slack channel: ##{channel}
	p Organized by: #{organizer.name} (#{organizer.slack})
	p #{description}
	each pictureUrl in house.pictures
		img(src=pictureUrl)
	p #{location.fullAddress}
	p #{location.city}, #{location.country}
	p #{localTime}, #{temperature}°C
	p Lat: #{location.latitude} Long: #{location.longitude}
	p: a(href=house.url) The house
	p House Rent Price: #{house.price}€
	h1 Prices
	p Per night: #{price.perNight}€
	p Per week: #{price.perWeek}€ (Save #{price.weekDiscount}€)
	h1 Weeks
	ul
		each week, index in weeks
			li WEEK #{index + 1} : #{week.beds} beds available
				ul
					each day in week.days
						li #{day.id} => #{day.name} #{day.number} #{day.month}
	h1 Participants
	ul
		each participant in participants
			li #{participant.name} #{participant.slack}
				ul
					each day in participant.days
						li #{day.id} => #{day.name} #{day.number} #{day.month}
